{:queries
 {:info
  {:type        String
   :description "Just a simple placeholder"
   :resolve     :query/simple-string}
  :feed
  {:type        String
   :description "Feed query"
   :resolve     :query/feed}
  :link
  {:type        String
   :description "Get the Link by Id"
   :resolve     :query/link}}}